    @import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,300,700);
    @import 'lesshat.less';
    @bluedark: #0D6D8B;
    @blue: #17A7D2;
    @greenblue: #066c77;
    @ddblue: #043f51;
    .lato() {
        font-family: 'Lato', sans-serif;
    }
    body,
    html {
        padding: 0px;
        margin: 0px;
        font-family: "nimbus-sans";
    }
    .top-shadow {
        width: 100%;
        background: url('../img/home/top-shadow.png') repeat-x;
        height: 25px;
        position: relative;
        z-index: 999;
    }
    .navbar-brand {
        max-width: 250px;
    }
    .navbar-right {
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: @bluedark;
        li.active a {
            font-weight: 700;
        }
        li a:hover {
            background: none;
            text-decoration: underline;
        }
    }
    .phone {
        font-size: 13px;
        color: @blue;
        display: block;
        text-align: right;
        padding-right: 15px;
        padding-top: 25px;
        letter-spacing: 0px;
    }
    .navbar {
        margin-bottom: 0px;
    }
    #main-img {
        margin-top: -20px;
        position: relative;
        z-index: 0;
    }
    .bottom-shadow {
        background: url('../img/home/bottom-shadow.png') repeat-x;
        width: 100%;
        margin-top: -20px;
        height: 25px;
        position: relative;
        z-index: 999;
    }
    .about-row {
        position: relative;
        z-index: 1000;
        margin-top: -80px;
        .icon {
            margin: 0 auto;
            text-align: center;
        }
        h3 {
            text-transform: uppercase;
            font-size: 16px;
            color: @bluedark;
            font-weight: 600;
        }
    }
    p.tight {
        padding: 0px 40px;
        color: @bluedark;
    }
    #home-bkgd {
        background: url('../img/home/home-bkgd.jpg') no-repeat;
        background-size: cover;
        margin-top: 65px;
        padding-top: 45px;
        padding-bottom: 65px;
        p {
            font-size: 16px;
            color: @bluedark;
            text-transform: uppercase;
            text-align: center;
            .lato();
            font-weight: 600;
            margin-top: 30px;
        }
        .btn-primary {
            background: #6094ac;
            color: white;
            text-transform: uppercase;
            border: 2px solid @bluedark;
            .border-radius(0);
            width: 83%;
            margin: 0 auto;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            .lato();
            .transition(.2s ease);
        }
        .btn-primary:hover {
            .transition(.2s ease);
            background: @bluedark;
        }
        h3 {
            font-size: 30px;
            text-transform: uppercase;
            color: @bluedark;
            .lato();
        }
        h4 {
            color: @bluedark;
            font-style: italic;
            .lato();
            font-size: 18px;
        }
        .links ul {
            margin: 0px;
            list-style: none;
            padding: 0px;
            margin-top: 20px;
            li {
                margin: 0px;
                color: @bluedark;
                font-size: 17px;
                padding: 0px;
                margin-bottom: 6px;
            }
        }
    }
    #footer {
        background: @bluedark;
        padding-top: 10px;
        padding-bottom: 10px;
        p {
            color: white;
            text-transform: uppercase;
            margin: 0px;
            padding: 0px;
        }
    }
    #getQuote {
        background: url('../img/p4.png') repeat;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
        border-top: 1px solid #ccc;
        h4 {
            .lato();
            font-weight: 300;
            text-transform: uppercase;
            color: @bluedark;
            font-size: 28px;
        }
        .btn-primary {
            .border-radius(0);
            .lato();
            font-style: italic;
            font-weight: 300;
            padding-top: 10px;
            padding-bottom: 10px;
            background: @ddblue;
            padding-right: 45px;
            padding-left: 45px;
            margin-top: 20px;
            .transition(.2s ease);
        }
        .btn-primary:hover {
            background: white;
            color: @ddblue;
            .transition(.2s ease);
        }
    }
    .about-us {
        .nav-stacked {
            border: 1px solid rgba(13, 131, 186, 0.28);
            margin-top: 45px;
            width: 90%;
            font-size: 16px;
            border-bottom: none;
            li {
                border-bottom: 1px solid rgba(13, 131, 186, 0.28);
            }
        }
        h1,
        h2 {
            color: @bluedark;
            font-weight: 300;
            margin-top: 40px;
        }
        p {
            font-size: 16px;
            .lato();
            font-style: italic;
            color: #666;
        }
        p.text-warning i {
            color: #92e3fb;
        }
        p.text-info i {
            color: #6bcdea;
        }
        th small {
            .lato();
            font-style: italic;
            font-weight: normal;
        }
        td.ow {
            background: #92e3fb !important;
            text-align: center;
            font-weight: 600;
            border-right-color: white !important;
            border-bottom-color: white !important;
        }
        td.rt {
            background: #6bcdea !important;
            text-align: center;
            font-weight: 600;
            border-right: 1px solid @bluedark !important;
            border-bottom-color: white !important;
        }
        td.bord {
            border-right: 1px solid @bluedark !important;
        }
    }
    .red {
        color: red;
    }
    .form-area {
        background-color: #FAFAFA;
        padding: 10px 40px 60px;
        margin: 10px 0px 60px;
        .box-shadow(0px 1px 2px 2px rgba(0,
        0,
        0,
        0.2));
    }
    /*
Credits: Bit Repository
CSS Library: http://www.bitrepository.com/
*/
    
    html,
    body {
        padding: 0;
        border: 0px none;
    }
    .notification_error {
        border: 1px solid #A25965;
        height: auto;
        width: 90%;
        padding: 4px;
        background: #F8F0F1;
        text-align: left;
        -moz-border-radius: 5px;
    }
    .notification_ok {
        border: 1px #567397 solid;
        height: auto;
        width: 90% padding: 8px;
        background: #f5f9fd;
        text-align: center;
        -moz-border-radius: 5px;
    }
    .info_fieldset {
        -moz-border-radius: 7px;
        border: 1px #dddddd solid;
    }
    .info_fieldset legend {
        border: 1px #dddddd solid;
        color: black;
        font: 13px Verdana;
        padding: 2px 5px 2px 5px;
        -moz-border-radius: 3px;
    }
    .button {
        border: 1px solid #999999;
        border-top-color: #CCCCCC;
        border-left-color: #CCCCCC;
        background: white;
        color: #333333;
        font: 11px Verdana, Helvetica, Arial, sans-serif;
        -moz-border-radius: 3px;
    }
    /* Input, Textarea */
    
    label {
        font-weight: normal;
    }
    input,
    textarea,
    select {
        padding: 0px;
        border: 1px solid #999999;
        border-top-color: #CCCCCC;
        border-left-color: #CCCCCC;
        color: #333333;
        font: 11px Verdana, Helvetica, Arial, sans-serif;
        .border-radius(3);
    }
    #res-form {
        #tours,
        #trans {
            display: none;
        }
    }
    #tours {
        .thumbnail {
            margin-bottom: 20px;
            padding-bottom: 20px;
            .box-shadow(0px 0px 9px 2px rgba(230,
            230,
            230,
            0.7));
            .border-radius(0px);
            p {
                padding: 0px 10px;
                color: #666;
                font-weight: 300;
            }
            a {
                margin-top: 20px;
                .border-radius(0);
                text-transform: uppercase;
            }
            h3 {
                .lato();
                font-weight: 400;
                color: @blue;
            }
        }
        h2,
        h4 {
            color: @bluedark;
            font-weight: 300;
        }
        h4 {
            margin-top: 25px;
        }
    }
#owl-example{
                margin-top: -13px;
            }
            #owl-example .item img{
                display: block;
                width: 100%;
                height: auto;
            }
            .owl-theme .owl-controls {
                top: 3%;
                text-align: center;
                background: none;
                position: absolute;
                z-index: 1000;
                right: 3%;
            }
            .owl-theme .owl-controls .owl-buttons div {
                color: #0C6C8A;
                display: inline-block;
                zoom: 1;
                margin: 5px;
                padding: 15px 0px;
                text-align: middle;
                width: 50px;
                height: 50px;
                font-size: 12px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                border-radius: 50%;
                background: #FFF;
                filter: Alpha(Opacity=50);
                opacity: 0.9;
            }
@media (min-width:300px) and (max-width: 500px){
    .navbar{
        min-height: 75px;
        
    }
    .navbar-nav{
        border-top: 3px solid #eee;
    }
    .navbar-brand{
        max-width: 200px;
    }
    .navbar-toggle{
        border: 2px solid #eee;
        margin-top: 20px;
        .icon-bar{
            background: #126A7B;
            height: 4px;
        }
    }
    .nav>li {
        position: relative;
        display: block;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #FFF;
        background: #eee;
    }
    .owl-controls{
        display: none !important;
    }
    .about-row{
        margin-top: 0px;
    }
    #home-bkgd{
        padding-top: 25px;
        h3{
            font-size: 22px;
            font-weight: 600;
            text-transform: none;
        }
        .links{
            ul{
                margin-top: 0px;
                text-align: center;
                background: rgba(255,255,255,0.8);
                li {
                    margin: 0px;
                    color: #0d6d8b;
                    font-size: 18px;
                    padding: 10px 0px;
                    margin-bottom: 6px;
                    border-bottom: 1px solid #A7D3E0;
                }
            }
        }
    }
    .bottom-shadow{
        margin-top: -10px;
    }
}
